* {
    font-size: 16px;
    font-family: monospace;
}

body {
    background-color: #FEFBE9;
}

.first-section {
    background-color: #FEFBE9;
}

h1 {
    position: absolute;
    font-family: monospace;
    font-size: 3.5em;
    padding: 0 0 0 50px;
    margin: 10px 0 0 10px;
    color: #F0A04B;
}


nav {
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-end;
}


nav a {
    color: #E1EEDD; 
    font-size: 1.5em;
    font-family: monospace;
    font-weight: bolder;
    margin-top: 0px;
    padding: 30px 20px 60px 20px;
}

nav a:hover {
    background-color: #183A1D;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-me {
    border-radius: 50%;
    margin-top: 30px;
}

.about-me-p  {
    font-size: 2.7em;
}

.age {
    color: #E1EEDD;
    max-height: 25px;
    background-color: #183A1D;
    padding: 25px;
    border-radius: 5%;
}

.job {
    color: #E1EEDD;
    max-height: 25px;
    background-color: #183A1D;
    padding: 25px;
    border-radius: 5%;
}

.outdoors {
    color: #E1EEDD;
    max-height: 25px;
    background-color: #183A1D;
    padding: 25px;
    border-radius: 5%;
}

.passions {
    color: #E1EEDD;
    max-height: 25px;
    background-color: #183A1D;
    padding: 25px;
    border-radius: 10px;
}

.line {
    margin: 70px auto;
    padding: 3px;
    max-width: 70%;
    background-color: #183A1D;
    border-radius: 5px;
}

.heading-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}

.heading-links a {
    background-color: #F0A04B;
    color: #183A1D;
    text-decoration: underline;
    font-size: 2.5em;
    margin-top: 0px;
    padding: 70px 110px 70px 110px;
    border-radius: 20px;
}

.previous-work-section {
    background-color: #E1EEDD;
}

.previous-work-section h3 {
    display: flex;
    font-size: 2.5em;
    color: #183A1D;
}

.liniar-motion-a {
    display: flex;
    color: #183A1D;
    font-size: 1.5em;
    margin: 20px auto 50px auto;
}

.snowy-a {
    display: flex;
    display: flex;
    color: #183A1D;
    font-size: 1.5em;
    margin: 20px auto 50px auto;
}

.project-sleep-a {
    display: flex;
    display: flex;
    color: #183A1D;
    font-size: 1.5em;
    margin: 20px auto 50px auto;
}

.education-section h2 {
    display: flex;
    font-size: 2.5em;
    color: #183A1D;
    }

    .education-section p {
        max-width: 50%;
        display: flex;
        justify-content: center;
        background-color: #E1EEDD;
        padding: 50px;
        font-size: 1.2em;
    }

.hobbies-section {
    display: flex;
    font-size: 2.5em;
    color: #183A1D;
}

.hobbies-section h2 {
    font-size: 1em;
    color: #183A1D;
}

.hobbies-section p {
    display: flex;
    background-color: #F0A04B;
    padding: 50px;
    margin: 20px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: #183A1D;
}

footer p {
    font-size: 2em;
}

footer a {
    margin-top: 100px;
    color: #F0A04B;
    padding: 0 0 50px 0;
    font-size: 1.3em;

}

@media only screen and (max-width: 1100px) {
    h1 {
      display: inline;
      position: relative;
    }
  }
